/* Styling for the container */
 .container {
    display: flex;
    /* grid-template-columns: repeat(3, 200px); */
    margin-top: 20px;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    /* height: 100vh; */
} 

/* Styling for the cards */
 .card {
    width: 80%;
    height: 80%;
    background-color: #007bff;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    
} 

/* Pop effect on hover */
/* .card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
} */
.collapsible.expandable{
    width: 100%;
}

header{
    position: relative;
    
    text-align: center;

}

.navigation
{
    position: fixed;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 250px;
    z-index: 100;
}
.toggle
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #ffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ff216d;
    cursor: pointer;
    padding: 2px 5px;
}
.toggle::before
{
    content: 'Menu';
    margin-right: 10px;

}
.toggle.active::before
{
    content: 'Close';

}
.toggle span
{
    position: relative;
    width: 20px;
    height: 50px;

}
.toggle span::before
{
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ff216d;
    transition: 0.5s;
}
.toggle span::after
{
    content: '';
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ff216d;
    transition: 0.5s;
}
.toggle.active span::before
{
    transform: rotate(225deg);
    top:24px;
}
.toggle.active span::after
{
    transform: rotate(135deg);
    bottom: 24px;
}
.nav
{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.navli
{
    position: relative;
    list-style: none;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-250px);   
    transition-delay: calc(0.1s *var(--i));
}
.navigation.active .nav .navli
{
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);   
}
.nav .navli a
{
    position: relative;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    height: 50px;
    background-color: #fff;
    color: #333;
    transition: 0.5s;
}
.nav .navli a:hover
{
    background: #f6f6f6;
    color: #ff216d;
    transition: 0s;
}




@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* html, body{
  height: 100%;
  font-weight: 800;
} */

/* body{
  background: yellow;
  font-family: Arial;
} */

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 1000px;
    height: 200px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #608d83;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #1fb3ab;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #0da18e;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #056639;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #052e0f;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}